.content {
  font-size: 1.1em;
  padding: 15px 30px;
  background-color: rgb(255, 255, 255);
  @include border-radius(3px);
  @include box-shadow(0, 1px, 3px, rgba(0, 0, 0, 0.4));
  margin-bottom: 20px;
}

.content {
  p {
    text-indent: 20px;
  }
}

.content.main {
  font-size: 1.2em;
}

.contact-data {
  margin: 0;
  padding: 0;

  > .row {
    margin-bottom: 20px;
  }
}

map {
  height: 500px;
  width: 100%;
  display: block;
  margin: 20px 0;
}

.price-category {
  margin-bottom: 40px;

  h2 {
    margin-bottom: 30px;
  }
}

table.prices {
  td {
    text-align: center;
    font-size: 1.1em;
  }

  th {
    vertical-align: middle !important;
    text-align: center;
    font-size: 1.2em;
  }

  th:first-child, td:first-child {
    text-align: left;
  }
}