.content {
  font-size: 1.1em;
  padding: 15px 30px;
  background-color: rgb(255, 255, 255);
  @include border-radius(3px);
  @include box-shadow(0, 1px, 3px, rgba(0, 0, 0, 0.4));
  margin-bottom: 20px;
}

.content {
  p {
    text-indent: 20px;
  }
}