.header {
  font-size: 1em;
  overflow: hidden;
  margin-top: 15px;
  margin-bottom: 20px;
  color: rgb(105, 95, 75);

  .info {
    width: 50%;
    margin-top: 5px;
    padding-right: 0;
  }

  .logo {
    width: 50%;
  }
}

.top-menu {
  text-align: right;
  font-size: 1.2em;

  a {
    color: #033e6f;
    text-decoration: underline;
  }
}

.contacts {
  font-size: 1.2em;
  text-align: right;
  margin-bottom: 20px;

  > div:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }

  > div > * {
    display: inline-block;
    vertical-align: middle;
  }

  .glyphicon {
    position: relative;
    top: 2px;
    margin-right: 5px;
  }
}