.header {
  font-size: 1em;
  overflow: hidden;
  margin-top: 15px;
  margin-bottom: 20px;
  color: rgb(105, 95, 75);

  .info {
    margin-left: 363px;
    overflow: hidden;
  }
}

.nav-pills li a:hover {
  background-color: transparent;
}

.nav > li {
  a {
    padding: 10px 40px;
  }

  a:last-child {
    padding-right: 0;
  }
}

.top-menu {
  text-align: right;
  font-size: 1.2em;
  clear: right;

  a {
    color: #033e6f;
    text-decoration: underline;
  }
}

.top-menu-contacts {
  font-size: 1.2em;
  text-align: right;
  margin-top: 5px;

  > li:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }

  > li > * {
    display: inline-block;
    vertical-align: middle;
  }

  .glyphicon {
    position: relative;
    top: 2px;
    margin-right: 5px;
  }

  .icon {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-size: 32px 32px;
    margin: 0 5px 0 20px;
  }

  .icon.mail {
    background-image: url('../img/mail-icon.png');
  }

  .icon.phone {
    background-image: url('../img/phone-icon.png');
  }
}
