.top-menu {
  background-color: #fff;
  list-style-position: outside;
  list-style-type: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  @include box-shadow(0, 1px, 3px, rgba(0, 0, 0, 0.4));
  @include border-radius(12px);
}

.top-menu__item {
  float: left;
  margin: 0;
  height: 140px;
  width: 20%;
  position: relative;
  display: inline-block;
  text-align: center;
  font-size: 120%;
  padding-top: 16px;
}

.top-menu__item {
  a {
    text-decoration: underline;
    vertical-align: middle;
  }

  /*a:visited {
    color: #3E9100;
  }*/

  a:hover {
    color: #990000;
  }

  img {
    width: 64px;
    padding: 0;
    margin: 5px auto;
    display: block;
  }
}