body {
  padding-bottom: 20px;
  background-color: #eff1e6;
}

.container {
  margin-top: 15px;
  margin-bottom: 15px;
}

footer {
  font-size: 0.9em;
}

@import "normalize.css";
@import "main.css";
@import "mixins";
@import "header";
@import "banner";
@import "content";