<div class="content">
    <h1>Контактная информация</h1>
    <div class="container contact-data">
        <div class="row">
            <div class="col-md-2">
                <strong>Адрес</strong>
            </div>
            <div class="col-md-10">
                105568, Россия, Москва, шоссе Энтузиастов, дом 59
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <strong>Телефоны</strong>
            </div>
            <div class="col-md-10">
                +7 (495) 363-29-19<br/>
                +7 (495) 679-94-48
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <strong>Электронная почта</strong>
            </div>
            <div class="col-md-10">
                <a href="mailto:multipack@yandex.ru">multipack@yandex.ru</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <strong>Часы работы</strong>
            </div>
            <div class="col-md-10">
                Пн-Пт 8:00-17:00
            </div>
        </div>
    </div>
    <map x="55.775494" y="37.833572" placemark="ООО «МультиПАК»"></map>
</div>
