<div class="content">
    <div class="pull-right action-btn-container">
        <button type="button" class="btn btn-default" ng-click="print()">
            <span class="glyphicon glyphicon-print"></span> Печать
        </button>
    </div>
    <h1>Контактная информация</h1>
    <div class="container contact-data">
        <div class="row">
            <div class="col-md-2">
                <strong>Адрес</strong>
            </div>
            <div class="col-md-10">
                115088, Россия, Москва, улица Угрешская, дом 26 (Продбаза «Покоторг»)
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <strong>Телефоны</strong>
            </div>
            <div class="col-md-10">
                +7 (495) 363-2919<br/>
                +7 (495) 679-9448<br/>
                +7 (916) 173-6863
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <strong>Электронная почта</strong>
            </div>
            <div class="col-md-10">
                <a href="mailto:multipack@yandex.ru">info@mnogoplenki.ru</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <strong>Часы работы</strong>
            </div>
            <div class="col-md-10">
                Пн – Пт 10:00 – 18:00
            </div>
        </div>
    </div>
    <map x="55.717862" y="37.702749" placemark="ООО «МультиПАК»"></map>
</div>
