<carousel interval="5000">
    <slide ng-repeat="slide in slides" active="slide.active">
        <img ng-src="{{slide.image}}" style="margin: auto;" height="300"/>
    </slide>
</carousel>

<div class="content main">
    <p>
        Наша компания, ООО «МультиПАК», работает с 1996 г. и является поставщиком широкого спектра упаковочных материалов от ведущих европейских и российских производителей.
    </p>
    <p>
        Мы поставляем высококачественные, экологически чистые, безопасные для здоровья потребителя, привлекательные для покупателя и приемлемые для всех по цене упаковочные материалы всевозможных типов, а именно:
    </p>
    <p>
        <ul>
            <li>пищевая поливинилхлоридная (ПВХ) стрейч пленка;</li>
            <li>пищевая полиэтиленовая (ПЭ) стрейч пленка;</li>
            <li>пищевая ПВХ термоусадочная пленка;</li>
            <li>пищевая полиолефиновая (ПОФ) термоусадочная пленка;</li>
            <li>пищевая полипропиленовая (ПП) пленка;</li>
            <li>стрейч ПЭ пленка для упаковки товаров на паллетах;</li>
            <li>клейкая лента (скотч);</li>
            <li>вакуумные пакеты;</li>
            <li>пищевые лотки и подложки;</li>
            <li>пищевые контейнеры;</li>
            <li>пергаментные розетки и коррексы для кондитерских изделий;</li>
            <li>фасовочные пакеты;</li>
            <li>одноразовая посуда и контейнеры;</li>
            <li>прочие упаковочные материалы.</li>
        </ul>
    </p>
    <p>
        Вся поставляемая нами продукция, будь то импортная или произведенная в России – снабжена соответствующими сертификатами и допущена к реализации на отечественном рынке.
    </p>
    <p>
        Мы продаем упаковочные материалы со склада в Москве и осуществляем их поставки в любую точку России.
    </p>
</div>
