<div class="banner">
    <div class="arrow arrow-left"></div>
    <div class="arrow arrow-right"></div>
    <div class="markers">
        <i class="marker selected"></i>
        <i class="marker"></i>
        <i class="marker"></i>
        <i class="marker"></i>
        <i class="marker"></i>
    </div>
</div>

<div class="content">
    <p>
        Наша компания, ООО «МультиПАК», работает с 1996 г. и является поставщиком широкого спектра упаковочных материалов от ведущих европейских и российских производителей.
    </p>
    <p>
        Мы поставляем высококачественные, экологически чистые, безопасные для здоровья потребителя, привлекательные для покупателя и приемлемые для всех по цене упаковочные материалы всевозможных типов.
    </p>
    <p>
        Вся поставляемая нами продукция, будь то импортная или произведенная в России – снабжена соответствующими сертификатами и допущена к реализации на отечественном рынке.
    </p>
    <p>
        Мы продаем упаковочные материалы со склада в Москве и осуществляем их поставки в любую точку России.
    </p>
</div>