<div class="content">
    <div class="price-category" ng-repeat="category in categories">
        <h2>{{category.name}}, производство – {{category.country}}</h2>

        <table class="table table-striped prices" ng-repeat="kind in category.kinds">
            <thead>
                <tr ng-class="colors[category.type]">
                    <th>Ширина,<br>мм</th>
                    <th>Толщина,<br>мкм</th>
                    <th ng-hide="{{category.type == 3}}">Длина,<br>м</th>
                    <th>Цвет</th>
                    <th>Артикул<br>(этикетка)</th>
                    <th>Вес нетто<br>(без учета веса<br>шпули), кг</th>
                    <th>Цена за 1 рулон,<br>включая НДС, руб</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in kind.items">
                    <td>{{item.width}}</td>
                    <td>{{item.thickness}}</td>
                    <td ng-hide="{{category.type == 3}}">{{item.length}}</td>
                    <td>{{item.color}}</td>
                    <td>{{item.article}}</td>
                    <td>{{item.weight}}</td>
                    <td>{{item.price}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>