<div class="content">
    <h1>Термочеки и термоэтикетки</h1>
    <p>
        <img class="catalog-pic" src="img/catalog/checks/main1.jpg"/>
        Термоэтикетки – это специальные этикетки, предназначенные для нанесения информации методом термопечати. Термоэтикетки широко применяются для маркировки продукции в торговле и промышленности. В наши дни наблюдается неуклонный рост количества предприятий, которые в своей работе используют автоматизированные системы учета и контроля с широким применением технологии штрихкодирования.
    </p>
    <p>
        Термоэтикетки состоят из трех слоев: внешний слой обладает термохимическими свойствами, и информация наносится непосредственно на него. Средний слой чаще всего представляет собой обычную бумагу на клеевой основе. Благодаря клейкой бумаге термоэтикетку можно наклеить на различные материалы. Подложка – специальный слой, предназначенный для защиты клеевого слоя. Подложка отделяется, когда необходимо приклеить этикетку.
    </p>
    <p>
        Термоэтикетки бывают двух видов:
        <ul>
            <li>
                ТОП («ТОР») - этикетки с защитным покрытием лицевой и оборотной стороны обладают хорошей устойчивостью к жирам, влаге и многим растворителям. Наличие двухстороннего покрытия позволяет использовать самоклеющиеся термоэтикетки ТОП для маркировки продуктов, подвергающихся заморозке и конденсату. Специальное покрытие ТОП значительно повышает качество флексографической печати.
            </li>
            <li>
                ЭКО («ECO») – этикетки без защитного поверхностного покрытия в своем классе считаются самыми простыми и экономичными. Несомненным достоинством этикеток является их низкая цена и возможность печати на максимальной скорости (они не требуют большого нагрева термоголовки при печати). К недостаткам ЭКО можно отнести недолгий срок использования, малую устойчивость к воздействию воды, жира и УФ излучения. Основная сфера применения: товары не длительного срока применения, продукты питания, товары крупных торговых сетей, супермаркетов и т.д.
            </li>
        </ul>
    </p>
    <p>
        <img class="catalog-pic pull-right" src="img/catalog/checks/pic3.jpg"/>
        Печать на термоэтикетках имеет достаточно низкую себестоимость, и это большой плюс. Главный критерий качества этикеток – это хорошая термобумага. Только термоэтикетки, напечатанные на качественной бумаге, будут удобными и надежными носителями потребительской информации. У нас Вы всегда можете приобрести термоэтикетки высшего качества для весов с чеко-печатью основных размеров 58*30, 58*40, 58*60 (тип этикетки ЭКО и ТОП).
    </p>
    <p>
        Кроме того, мы предлагаем Вам любые термоэтикетки с флексопечатью высочайшего качества, покрытые защитным слоем УФ лака, изготовленные под заказ с Вашим уникальным дизайном.
    </p>
</div>