<div class="content">
    <h1>Пищевые лотки и контейнеры</h1>
    <p>
        <img class="catalog-pic" src="img/catalog/containers/pic1.png"/>
        Пищевые пластиковые контейнеры – популярная одноразовая упаковка из прозрачного пластика (полистирол, полипропилен, полиэтилен, ПВХ), предназначенная для упаковки пищевых продуктов (масло и жиры, мороженое, сыр, творог, салаты, овощи, фрукты, грибы, орехи и т.д.), кондитерских изделий (торты, пирожные, выпечка), а также всех типов полуфабрикатов. Для указанных применений важны герметичность, удобство транспортировки и складирования, увеличенный срок хранения упакованных продуктов, привлекательный товарный вид. Такие пищевые контейнеры, как правило, являются одноразовыми.
    </p>
    <p>
        Вся упаковка такого рода, будь то прозрачные контейнеры либо пищевые лотки из вспененного полистирола – это очень технологичная и недорогая тара, имеющая конструктивную надежность, легкость и хорошую механическую стойкость. Пластиковые контейнеры и лотки активно применяются для нужд продовольственной торговли и предприятий общественного питания - в магазинах, ресторанах и кафе, сфере приготовления экспресс продуктов, службах доставки еды, фасовочных производствах.
    </p>
    <p>
        <img class="catalog-pic pull-right" src="img/catalog/containers/pic2.jpg"/>
        Дополнительно следует сказать, что пищевые пластиковые контейнеры бывают самых различных размеров, вместительности (100 мл - 5 л), цветов (прозрачные, белые, цветные) и форм (прямоугольные, овальные, круглые), с крышкой и без. Для их производства используются экологически чистые виды пластиков, безопасные для здоровья.
    </p>
    <p>
        Всегда в наличии на нашем складе обширный ассортимент пищевых пластиковых контейнеров и лотков из вспененного полистирола для самого широкого круга применений. Вся продукция снабжена необходимыми сертификатами.
    </p>
</div>