{{> header title="Пищевые лотки из полистирола"}}

<div class="content">
    <h1>Пищевые лотки из полистирола</h1>
    <p>
        Страница будет наполнена в ближайшее время.
    </p>
</div>

{{> footer}}