{{> header title="Купить пластиковые пищевые лотки, цены на одноразовые лотки для пищевых продуктов с крышкой"}}

<div class="content">
    <h1>Пластиковые пищевые лотки и контейнеры</h1>
    <p>
        <img class="catalog-pic" src="/img/catalog/containers/pic1.png"/>
        Пищевые пластиковые лотки и контейнеры — популярная одноразовая упаковка из прозрачного либо цветного пластика (полистирол, полипропилен, полиэтилен, поливинилхлорид), предназначенная для упаковки пищевых продуктов (масло и жиры, мороженое, сыр, творог, салаты, овощи, фрукты, грибы, орехи и т.д.), кондитерских изделий (торты, пирожные, выпечка), а также всех типов полуфабрикатов. Для указанных применений важны герметичность, удобство транспортировки и складирования, увеличенный срок хранения упакованных продуктов, привлекательный товарный вид. Такие пищевые лотки, как правило, являются одноразовыми.
    </p>
    <p>
        Все пластиковые пищевые лотки — очень технологичная и недорогая тара, имеющая конструктивную надежность, легкость и хорошую механическую стойкость. Одноразовые пластмассовые пищевые лотки активно применяются для нужд продовольственной торговли и предприятий общественного питания — в магазинах, ресторанах и кафе, сфере приготовления экспресс-продуктов, службах доставки еды, фасовочных производствах.
    </p>
    <p>
        <img class="catalog-pic pull-right" src="/img/catalog/containers/pic2.jpg"/>
        Дополнительно следует сказать, что пластиковые пищевые лотки бывают самых различных размеров, вместительности (100 мл—5 л), цветов (прозрачные, белые, цветные) и форм (прямоугольные, овальные, круглые), с крышкой и без. Для производства пищевых лотков используются экологически чистые виды пластиков, безопасные для здоровья.
    </p>
    <p>
        На нашем складе всегда в наличии обширный ассортимент пищевых пластиковых лотков и контейнеров для самого широкого круга применений. Вся продукция снабжена необходимыми сертификатами.
    </p>
</div>

{{> footer}}