{{> header}}

<div class="content">
    <h1>Пленка полиолефиновая ПОФ термоусадочная</h1>
    <p>
    	<img class="catalog-pic" src="img/catalog/film_pof/pic2.jpg"/>
    	Полиолефиновая (ПОФ) термоусадочная пленка с многослойной структурой является на сегодняшний день наиболее востребованным материалом в сфере упаковки. Прозрачная с глянцевым блеском, ПОФ термоусадочная пленка отлично смотрится в качестве упаковки, подчеркивая эстетические достоинства продуктов.
    </p>
    <p>
    	Стоит отметить, что ПОФ пленки просты в использовании и отлично работают на том же оборудовании, что и ПВХ пленки - на ручных автоматах, L-образных полуавтоматах и на высокоскоростных автоматических линиях.
    </p>
    <p>
    	Обладая меньшим удельным весом на 1 кв.м. по сравнению с ПВХ пленками, пленка ПОФ более эластична и обладает большей прочностью. Сфера применения полиолефиновых пленок очень широка и может быть использована для упаковки как пищевой, так и непищевой продукции. В любом случае упаковка в полиолефиновую пленку будет надежной и эффективной.
    </p>
    <p>
    	<img class="catalog-pic pull-right" src="img/catalog/film_pof/pic1.jpg"/>
    	ПОФ термоусадочная пленка имеет ряд несомненных преимуществ, а именно: малая плотность вещества, что существенно снижает массу упаковки; высокая прочность и эластичность; низкая воздухо- и влагопроницаемость; использование при низких температурах (до -40&deg;C); длительный срок хранения продуктов; экологическая чистота (не содержит хлора); повышенная стойкость к маслам, жирам и растворителям; прозрачность и глянец, хороший эстетический вид, возможность произвести многоцветную печать. Товары, упакованные в ПОФ термоусадочную пленку, надежно защищены от внешних воздействий окружающей среды (воды, воздуха, ультрафиолетовых лучей). Сама же упаковка обладает повышенной износостойкостью и прочностью, в том числе и прочностью сварного шва, что надежно защищает её от вскрытия.
    </p>
<div>

{{> footer}}
