{{> header}}

<div class="content">
    <h1>Пленка ПВХ стрейч пищевая</h1>
    <p>
        <img class="catalog-pic" src="/img/catalog/food_stretch/pic1.jpg"/>
        Стрейч ПВХ пленка – это поливинилхлоридная упаковочная пленка, иногда называемая «растягивающаяся» (от английского слова stretch), «самоклеющаяся» или «дышащая», которая действительно обладает всеми этими свойствами и отлично подходит для упаковки продукции. Пленка имеет отличные оптические свойства, прозрачность и блеск, и оптимальную растяжимость, обладает избирательной проницаемостью и антизапотеваемыми свойствами. Данная пленка является самоклеющейся и имеет «память», поэтому при транспортировке упакованного продукта его внешний вид остается неизменным.
    </p>
    <p>
        <img class="catalog-pic pull-right" src="/img/catalog/food_stretch/pic2.jpg"/>
        «Растягивающиеся» свойства пленки позволяют использовать её в качестве упаковочного материала, способного плотно облегать продукт без образования складок и не оставлять свободного пространства между продуктом и упаковкой, что придает продукту привлекательный вид, экономит расход упаковочного материала и обеспечивает сохранность упаковки. Стретч пленки ПВХ дают возможность регулирования «растягивающего» свойства в сочетании с упругостью материала, что обеспечивает релаксацию избыточного растяжения пленки в процессе упаковки продукта во время его транспортировки и реализации.
    </p>
    <p>
        «Самоклеющиеся» свойства этих пленок являются также одной из особенностей данного материала. Происходит это в результате накопления электростатического напряжения во время производства пленки. Благодаря этим свойствам процесс упаковки можно осуществлять вручную без какого-либо упаковочного оборудования. Увеличить эффективность этих свойств можно с помощью нагревательного стола за счет повышения температуры материала.
    </p>
    <p>
        <img class="catalog-pic" src="/img/catalog/food_stretch/pic3.jpg"/>
        Уникальность стрейч ПВХ плёнки заключается в её газопроницаемости - способности пропускать углекислый газ, водяные пары, составляющие воздуха наружу, и поступлении кислорода внутрь упаковки. Недаром её называют «дышащей пленкой». «Дышащие» свойства пленки зависят от свойств используемого полимера.
    </p>
    <p>
        Стретч ПВХ пленка надёжно защищает продукты от пыли и влаги, не даёт развиваться бактериям в упакованном продукте и позволяет долго сохранять хороший товарный вид и вкусовые качества. Она наилучшим образом подходит для упаковки широкого спектра пищевых продуктов: хлеба, хлебобулочных и кондитерских изделий, овощей, фруктов, развесных продуктов, в том числе жирных (мяса и рыбы и полуфабрикатов из них, птицы, масла, сыра, пиццы). Пленка ПВХ позволяет упаковывать хлеб горячим, сохраняя хрустящую корочку и продлевая срок хранения до 5 суток.
    </p>
    <p class="last"><a href="/prices.html#food_stretch">Перейти к ценам »</a></p>
</div>

{{> footer}}
