{{> header}}

<div class="content">
    <h1>Пленка ПЭ стрейч паллетная</h1>
    <p>
        <img class="catalog-pic" src="img/catalog/pallet_stretch/pic1.png"/>
        Современный упаковочный материал, отвечающий всем традиционным требованиям, предъявляемым к упаковке и таре. Применяется паллетная стрейч пленка в основном в качестве транспортной упаковки готовой продукции с целью уберечь её от возможного механического повреждения или рассыпания. Прозрачность стрейч пленки позволяет визуально контролировать содержимое груза, а отсутствие клея - исключить нежелательное воздействие влаги и пыли на груз.
    </p>
    <p>
        При перевозке товары укладывают на специальных поддонах-паллетах, а затем закрепляются с помощью паллетной стрейч-плёнки паллетоупаковщиком.
    </p>
    <p>
        <img class="catalog-pic pull-right" src="img/catalog/pallet_stretch/pic2.jpg"/>
        За счёт таких качеств паллетной пленки, как её эластичность и способность растягиваться более чем в 2 раза и затем снова возвращаться в исходное положение, происходит надёжная фиксация груза на период транспортировки и погрузочно-разгрузочных работ.
        Основными преимуществами паллетной стрейч-пленки являются также ее устойчивость к механическим воздействиям (проколам, разрывам, продавливаниям и прочее), отсутствие необходимости применения сложного оборудования в процессе самой упаковки, нейтральность пленки по отношению к продуктам, а также ее низкая стоимость.
    </p>
    <p class="last"><a href="/prices.html#pallet_stretch">Перейти к ценам »</a></p>
</div>

{{> footer}}
