{{> header}}

<div class="content">
    <h1>Пакеты вакуумные пищевые</h1>
    <p>
        <img class="catalog-pic" src="/img/catalog/vacuum_packages/pic2.jpg"/>
        Многослойные вакуумные пакеты из полимерных пленок используются для упаковки широкого спектра пищевых продуктов (свежего мяса, мясных и рыбных изделий, морепродуктов, сыра, любых видов нарезки и т.д.), которые требуют длительного хранения – до 6 месяцев и более. Использование полимерных материалов лишает возможности развития микроорганизмов и бактерий, обеспечивает стойкость к проникновению кислорода, водяных паров, тем самым существенно продлевая сроки хранения и качество упаковываемой продукции. Вакуумный пакет сохраняет аромат продуктов, обеспечивает сохранность первоначального количества влаги.
    </p>
    <p>
        Наконец, немаловажными преимуществами являются более низкая себестоимость полимерных вакуумных пакетов по сравнению с другими видами упаковки, малый вес и меньшие затраты на транспортировку. Наши вакуумные пакеты отвечают всем возможным требованиям, они прочны к механическим воздействиям, они герметично и надежно завариваются запайщиками и вакуумными аппаратами, имеют высокие оптические свойства.
    </p>
    <p>
        Вакуумный пакет – пакет из многослойных пленок. Обычно состоит из барьерной пленки (слоя) ~25% и термосвариваемой пленки ~75%. В основном вакуумные пакеты имеют следующие аббревиатуры по типу используемых пленок-полимеров – пакеты ПЭТ/ПЭ, ОПА/ПЭ и ПЭТ/ПЭ.
    </p>
    <p>
        Принятые сокращения полимеров:
        <ul>
            <li>ОПА – ориентированный полиамид;</li>
            <li>ПА – неориентированный полиамид;</li>
            <li>ПЭ – полиэтилен;</li>
            <li>ПЭТФ-полиэтилентерефталат.</li>
        </ul>
    </p>
    <p>
        <img class="catalog-pic pull-right" src="/img/catalog/vacuum_packages/pic3.jpg"/>
        ОПА/ПЭ - Барьерная ламинированная пленка (Вакуумные пакеты). Характеризуется высокими барьерными свойствами: противостоит проколам, механическим повреждениям, имеет хорошие оптические свойства, обеспечивает отсутствие постороннего запаха. Оптимальна для упаковки рыбопродуктов.
    </p>
    <p>
        ПА/ПЭ - Барьерная коэкструзионная пленка. Характеризуется высокой эластичностью, мягко обволакивает продукт, имеет высокие оптические свойства, невысокую цену. Подходит для безкостных, мягких продуктов, нарезок и т.п.
    </p>
    <p>
        ПЭТ/ПЭ - Ламинированная лавсановая пленка. Характеризуется высокой механической прочностью, малоэластична. Подходит для упаковки твердой продукции (например, замороженные рыбные стейки).
    </p>
    <p>
        Мы предлагаем широкий спектр вакуумных пакетов из различных пленок любых требуемых размеров, различной толщины, в т.ч. с эффектом «легкого вскрытия», с широким выбором прорубных отверстий для подвешивания.
    </p>
</div>

{{> footer}}