{{> header isDeliveryPage=true title="Доставка"}}

<div class="content main">
    <p>
        Для покупателей из Москвы и Московской области мы осуществляем бесплатную доставку товара собственным автотранспортом. Наш офис и склады расположены в Москве в одном месте, на территории Продуктовой базы «Покоторг», которая занимает обширную площадь сразу за Третьим транспортным кольцом и находится на его внешней границе. К нам ведут удобные подъездные пути, в том числе и для большегрузных автомобилей.
    </p>
    <p>
        Если Вы — иногородний покупатель и находитесь не в Москве, мы готовы, исходя из Ваших пожеланий, доставить товар по Москве до ряда станций железнодорожных отгрузок, а также выполнить переупаковку нашего товара с формированием сборных паллет, сделать надлежащую маркировку и осуществить все прочие мероприятия для оптимальной и безопасной транспортировки груза. В результате Вы получите заказанный Вами товар в полной сохранности, с полным комплектом документов и в оптимальный срок. Мы сотрудничаем только с надежными транспортными компаниями, проверенными долгосрочной совместной работой. 
    </p>
    <p>
        Вся поставляемая нами продукция, как импортная, так и произведенная в России, снабжена соответствующими сертификатами и допущена к продаже на отечественном рынке упаковочных материалов.
    </p>
    <p>
        Позвоните нам по телефону 8 (495) 363-2919 и убедитесь в этом сами!
    </p>
</div>

<script src="/js/index.js"></script>

{{> footer}}