        </div>

        <div class="container-fluid">
            <hr/>
            <footer>
                <p>Copyright &copy; 1996-2015 ООО «МультиПАК». Все права защищены.</p>
            </footer>
        </div>

    </body>
</html>
