{{> header isIndexPage=true title="Купить упаковочные материалы: продажа упаковочных материалов для пищевых продуктов, тара и пленка, оптом и в розницу"}}

<div id="carousel" class="carousel slide banner" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators markers">
    <li data-target="#carousel" data-slide-to="0" class="marker active"></li>
    <li data-target="#carousel" data-slide-to="1" class="marker"></li>
    <li data-target="#carousel" data-slide-to="2" class="marker"></li>
    <li data-target="#carousel" data-slide-to="3" class="marker"></li>
    <li data-target="#carousel" data-slide-to="4" class="marker"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="/img/slides/slide1.png">
    </div>
    <div class="item">
      <img src="/img/slides/slide2.png">
    </div>
    <div class="item">
      <img src="/img/slides/slide4.png">
    </div>
    <div class="item">
      <img src="/img/slides/slide5.png">
    </div>
    <div class="item">
      <img src="/img/slides/slide3.png">
    </div>
  </div>

  <!-- Controls -->
  <a class="carousel-control arrow arrow-left" href="#carousel" role="button" data-slide="prev"></a>
  <a class="carousel-control arrow arrow-right" href="#carousel" role="button" data-slide="next"></a>
</div>

<div class="content main">
    <p>
        Наша компания, ООО «МультиПАК», работает на российском рынке с 1996 г. и является поставщиком широкого спектра упаковочных материалов для пищевой промышленности от ведущих европейских и российских производителей.
    </p>
    <p>
        Мы осуществляем продажу высококачественных, экологически чистых, безопасных для здоровья потребителя, привлекательных для покупателя и приемлемых для всех по цене упаковочных материалов всевозможных типов, а именно:
    </p>
    <p>
        <ul>
            <li>пищевая поливинилхлоридная (ПВХ) стрейч пленка;</li>
            <li>пищевая полиэтиленовая (ПЭ) стрейч пленка;</li>
            <li>пищевая ПВХ термоусадочная пленка;</li>
            <li>пищевая полиолефиновая (ПОФ) термоусадочная пленка;</li>
            <li>полипропиленовая (ПП) пленка для пищевых продуктов;</li>
            <li>стрейч ПЭ пленка для упаковки товаров на паллетах;</li>
            <li>клейкая лента (скотч);</li>
            <li>вакуумные пакеты для пищевых продуктов;</li>
            <li>лотки и подложки, а также прочие пищевые упаковочные материалы из этой серии;</li>
            <li>пищевые контейнеры;</li>
            <li>пергаментные розетки и коррексы для кондитерских изделий;</li>
            <li>фасовочные пакеты;</li>
            <li>одноразовая посуда, контейнеры и другая тара;</li>
            <li>прочие упаковочные материалы.</li>
        </ul>
    </p>
    <p>
        Вся поставляемая нами продукция, как импортная, так и произведенная в России, снабжена соответствующими сертификатами и допущена к продаже на отечественном рынке упаковочных материалов.
    </p>
    <p>
        Вы можете купить наши упаковочные материалы оптом и в розницу со склада в Москве, мы также осуществляем их поставки в любую точку России – просто позвоните нам по телефону 8 (495) 363-2919 и сделайте свой заказ!
    </p>
</div>

<script src="/js/index.js"></script>

{{> footer}}