.content {
  font-size: 1.1em;
  padding: 15px 40px;
  background-color: rgb(255, 255, 255);
  @include border-radius(3px);
  @include box-shadow(0, 1px, 3px, rgba(0, 0, 0, 0.4));
  margin-bottom: 20px;
}

.content {
  > p {
    text-indent: 20px;
    text-align: justify;

    a {
      text-decoration: underline;
    }
  }
}

p.last {
  text-indent: 0px;
}

.content.main {
  font-size: 1.2em;
}

.contact-data {
  margin: 0;
  padding: 0;

  > .row {
    margin-bottom: 20px;
  }

  a {
    text-decoration: underline;
  }
}

map {
  height: 500px;
  width: 100%;
  display: block;
  margin: 20px 0;
}

.map-container {
  margin: 20px 0 40px 0;
}

.price-category {
  margin-bottom: 40px;

  h2 {
    margin-bottom: 30px;
  }
}

table.prices {
  td {
    text-align: center;
    font-size: 1.1em;
  }

  th {
    vertical-align: middle !important;
    text-align: center;
    font-size: 1.2em;
  }
}

.catalog {
  overflow: hidden;
  padding: 20px 0;

  .section {
    float: left;
    width: 50%;
    margin-bottom: 30px;
    padding-right: 30px;
    overflow: hidden;

    p {
      text-align1: justify;
    }
  }

  .section-line {
    overflow: hidden;
  }

  .section__title {
    font-size: 1.2em;
    text-decoration: underline;
    vertical-align: top;
  }

  .section__pic {
    display: inline-block;
    width: 171px;
    height: 171px;
    float: left;
    overflow: hidden;
    margin-right: 20px;
    margin-bottom: 20px;
    background-image: url('../img/catalog/pic.png');
    background-size: 100% auto;
    background-repeat: no-repeat;
  }

  .section__pic.food_stretch {
    background-image: url('../img/catalog/food_stretch/main.jpg');
  }
  .section__pic.pallet_stretch {
    background-image: url('../img/catalog/pallet_stretch/main.jpg');
  }
  .section__pic.shrink {
    background-image: url('../img/catalog/shrink/main.jpg');
    background-size: auto 171px;
    background-position: -60px 0;
  }
  .section__pic.vacuum_packages {
    background-image: url('../img/catalog/vacuum_packages/main.jpg');
    background-size: auto 171px;
    background-position: 80% 0;
  }
  .section__pic.containers {
    background-image: url('../img/catalog/containers/main.jpg');
  }
  .section__pic.checks {
    background-image: url('../img/catalog/checks/main.jpg');
  }
  .section__pic.film_pof {
    background-image: url('../img/catalog/film_pof/main.jpg');
  }
}

.catalog-pic {
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  max-width: 180px;
  max-height: 180px;

}

.catalog-pic.pull-right {
  margin-left: 20px;
  margin-right: 0px;
}

.action-btn-container {
  margin-top: 20.64px;
}

.checks-example{
  overflow:hidden;
  position:relative
}
.checks-example img{
  display:inline-block;
  float:left;
  margin:10px 2%;
  width:29%
}
