.header {
  font-size: 1em;
  overflow: hidden;
  margin-top: 15px;
  position: relative;
  margin-bottom: 20px;
  color: rgb(105, 95, 75);
  height: 98px;

  .info {
    position: absolute;
    left: 363px;
    right: 15px;
    overflow: hidden;
  }

  .logo {
    position: absolute;
    left:15px;
  }
}

.nav-pills li {
  a, a:hover, a:focus, a:active {
    background-color: transparent;
  }

}

.nav > li {
  a {
    padding: 10px 40px;
  }

  a:last-child {
    padding-right: 0;
  }
}

.top-menu {
  text-align: right;
  font-size: 1.2em;
  clear: right;

  a {
    color: #033e6f;
    text-decoration: underline;
  }

  a.active {
    text-decoration: none;

  }

  a.active:hover {
    cursor: default;

  }
}

.top-menu-contacts {
  font-size: 1.2em;
  text-align: right;
  margin-top: 5px;

  > li:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }

  > li > * {
    display: inline-block;
    vertical-align: middle;
  }

  .glyphicon {
    position: relative;
    top: 2px;
    margin-right: 5px;
  }

  .icon {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-size: 32px 32px;
    margin: 0 5px 0 20px;
  }

  .icon.mail {
    background-image: url('../img/mail-icon.png');
  }

  .icon.phone {
    background-image: url('../img/phone-icon.png');
  }

  a {
    color: #695f4b;
    padding-left: 0px !important;
  }
}
